<div class="footer">
    <div class="footer-icons">
        <a href="#"><i class="fab fa-google"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <!-- Add more social media icons as needed -->
    </div>
</div>