<link rel="stylesheet" href="/CSS/home_page.css">

<div class="home-container">
<div class="home-page">
    <p>Welcome to home page</p>
    <a href="#" class="btn">Learn More</a>
</div>
<section>
 <form action="/posts/create" id="new-post-form" method="POST">
    <textarea name="content" cols="30" rows="5" placeholder="Type Here..."></textarea>
    <input type="submit" value="Post">
 </form>
</section>
</div>