<link rel="stylesheet" href="/CSS/home_page.css">


<div class="home-page">
    <% if (user) { %>
        <h2>Welcome, <%= user.name %>!</h2>
        <p>Thank you for joining us. Explore our website to discover more!</p>
    <% } else { %>
        <h2>Welcome to Our Website</h2>
        <p>This page is built with the help of <strong>Coding Ninjas</strong>. Sign up or log in to access exclusive content and features!</p>
    <% } %>
    <a href="#" class="btn">Learn More</a>
</div>